* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #1d1d1f;
  background-color: #fff;
}

/* .navbar {
    background-color: #f5f5f7;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  } */

/* .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

.nav-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  gap: 20px;
}

.main-nav {
  /* border: 2px solid red; */
  /* width: 100%; */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px 10px;
  background-color: #fff;
  gap: 30px;

}

.main-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  color: #1d1d1f;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 8px;
}

.main-nav a:hover,
.main-nav a:active {
  color: #0071e3;
  background-color: #f5f5f7;
}

.main-nav a.active {
  color: #0071e3;
  background-color: #f5f5f7;
}

.main-nav a:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 113, 227, 0.5);
}

.nav-container img {
  width: 30px;
  cursor: pointer;
  transition: 0.3s;

}



.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  cursor: pointer;

}

.icons>span:first-child:hover,
.icons>span:last-child:hover {
  transition: 0.3s;
}

.nav-container img:hover,
.icons>span:first-child:hover,
.icons>span:last-child:hover {
  transform: scale(1.2);
}


.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}



/* Secondary Nav */

.sub-nav {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 15px 0px;
  background-color: #f5f5f7;
  border-radius: 30px;
}

.sub-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  transition: transform 0.2s ease;
}

.sub-nav-item:hover {
  transform: scale(1.1);
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px 10%;
  align-items: center;
  background-color: #fff;
  flex-wrap: wrap;
}

.hero-text h1 {
  /* border: 2px solid red; */
  font-size: 64px;
  font-weight: bold;
  animation: transform 1s;
}

@keyframes transform {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}



.hero-subtext h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: right;
  animation: fromright 1s linear;
}

@keyframes fromright {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* .hero-image {
    width: 100%;
    overflow: hidden;
  } */

video {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  border-radius: 60px;
}


/* Responsive */
@media (max-width: 768px) {
  .main-nav {
    display: none;
    flex-direction: column;
    background-color: #f5f5f7;
    width: 100%;
    padding: 10px;
    gap: 10px;
  }

  .main-nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
}




/* ----------------------------------------FEATURES------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #fff;
}

.h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 900;
  gap: 10px;
  animation: fromleft 1s;
  animation-timeline: view(40% auto);
}

@keyframes fromleft {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}


.feature-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* white-space: nowrap; */
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.feature-section::-webkit-scrollbar {
  display: none;
}

.feature-card {
  min-width: 400px;
  height: 600px;
  padding: 20px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}


.feature-card:hover {
  transform: scale(1);
  box-shadow: 8px 8px 24px black;
}

.text-box {
  color: white;
  padding: 20px;
  font-size: 20px;
}



.subheading {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.feature-card:nth-child(6) .subheading {
  color: black;
  font-size: 20px;
}

.text-box h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(246, 136, 136);
}




/*--------------------------------NEW RELEASED------------------------------------  */

.new-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
  gap: 70px;
}

.iphone-card {
  width: 300px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
  transition: transform 0.3s ease;
}

.iphone-card:hover {
  transform: scale(1.06);
  box-shadow: 8px 8px 30px black;
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: contain;
}

.color-dots {
  margin: 10px 0;
}

.color-dots span {
  display: inline-flex;
  width: 10px;
  height: 10px;
  margin: 4px;
  /* border-radius: 50%; */
  border: 1px solid #ccc;
}

h2 {
  font-size: 22px;
  margin-top: 10px;
  color: #000;
}

.tagline {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.price {
  margin: 15px 0;
  color: #000;
  font-size: 15px;
  line-height: 1.4;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;

}


.btn {
  background-color: #0071e3;
  color: white;
  padding: 10px 10px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  margin-right: 50px;

}

.link {
  background-color: #0071e3;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 16px;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  /* margin-top: 0px; */
}

/* --------------------------------COMPONENTS------------------------------------ */
.components {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 40px;
  /* background: #f5f5f7; */
  color: #000;
  place-content: center;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;

}



.feature-content {
  padding: 12px;
  text-align: center;
  background: #fff;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 100;

}

.feature-content img {
  width: 50px;
  margin-bottom: 8px;
}

/* ----------------------------------BANNER---------------------------------------- */
.banner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

}

.banner>.banner-inner>h1 {
  font-size: 5vh;
  display: flex;
  justify-content: space-between;
}

.banner>.banner-inner>img {
  width: 90vw;
  height: 100%;
  margin-top: 50px;
  transition: all 0.3s;

}

.banner>.banner-inner>img:hover {
  scale: 1.02;
}

/* ------------------------------------cards-------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;

}

.cards-header h1 {
  font-size: 3vw;
}

.cards-header a {
  text-decoration: none;
  color: #0071e3;
}

.cards-header a:hover {
  text-decoration: underline;
}

/* ----------------------- */
.cards {
  width: 100%;
  background-color: #f5f5f7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex-shrink: 1;
  padding: 30px 30px;
  gap: 20px;
}

.cards::-webkit-scrollbar {
  display: none;
}

.cards>.box {
  min-width: 400px;
  height: 300px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* line-height: 30px; */
  border-radius: 30px;
  transition: all 0.3s;

}

.cards>.box>img {
  margin-bottom: 20px;
  width: 50px;

}

.cards>.box>h1 {
  margin-bottom: 30px;
}

.cards>.box>p {
  margin-bottom: 30px;


}

.cards>.box>i {
  /* background: black; */
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;


}

.box:hover {
  scale: 1.02;
}

/* ----------------------------------------------ESSENTIALS--------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.essential-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #fff;
}

.essential-header h1 {
  font-size: 4vw;
  font-weight: 600;
  color: #1d1d1f;
}

.essential-header a {
  font-size: 16px;
  color: #0071e3;
  text-decoration: none;
}

.essential-header a:hover {
  text-decoration: underline;
}

/*--------------------------------------------*/

.accessories-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
  background: white;
}

.accessory-card {
  width: 40%;
  height: 50%;
  padding-top: 50px;
  border-radius: 20px;
  background-color: #f5f5f7;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.accessory-card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.accessory-card p {
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;

}

.accessory-card a {
  font-size: 16px;
  color: #0071e3;
  text-decoration: none;
  margin-bottom: 20px;
}

.accessory-card a:hover {
  text-decoration: underline;
}

.accessory-card img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .accessory-card {
    width: 100%;
  }

  .accessory-card p {
    font-size: 12px;

  }
}


/* -----------------------------------------SIGNIFICANT------------------------------ */

.section-title{
  padding:0px 50px ;
  font-size: 48px;
  font-weight: 700;
  color: #1d1d1f;
  margin-bottom: 40px;
}
.significant {
  background: #f5f5f7;
  padding: 80px 40px;       
  margin: 30px 40px;        
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  border-radius: 20px;     
}




.significant-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.text-section {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tab {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  cursor: pointer;
}

.tab h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1d1d1f;
}

.tab p {
  font-size: 16px;
  color: #444;
  display: none;
  line-height: 1.6;
}


#mac:checked ~ .significant-wrapper .text-section label[for="mac"] h2,
#watch:checked ~ .significant-wrapper .text-section label[for="watch"] h2,
#airpods:checked ~ .significant-wrapper .text-section label[for="airpods"] h2 {
  color: #0071e3;
}

#mac:checked ~ .significant-wrapper .text-section label[for="mac"] p,
#watch:checked ~ .significant-wrapper .text-section label[for="watch"] p,
#airpods:checked ~ .significant-wrapper .text-section label[for="airpods"] p {
  display: block;
}

.image-section {
  flex: 1;
  max-width: 900px; 
  width: 100%;
  position: relative;
  min-height: 600px; 
  margin-left: 250px;
}

.image {
  position: absolute;
  inset: 0;
  background-size: contain;  
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.image1 {
  background-image: url('	https://www.apple.com/in/iphone/home/images/overview/augment/mac__b2km5lqjzk1y_small_2x.jpg');
}
.image2 {
  background-image: url('	https://www.apple.com/v/iphone/home/cb/images/overview/augment/watch__dkk6to52k7ma_small_2x.jpg');
}
.image3 {
  background-image: url('	https://www.apple.com/in/iphone/home/images/overview/augment/airpods__cmw5fm88hrma_small_2x.jpg');
}


#mac:checked ~ .significant-wrapper .image-section .image1,
#watch:checked ~ .significant-wrapper .image-section .image2,
#airpods:checked ~ .significant-wrapper .image-section .image3 {
  opacity: 1;
}


@media screen and (max-width: 768px) {
  .image-section {
    max-width: 100%;
    min-height: 300px;
    margin-left: 0px;
  }

  .text-section {
    max-width: 100%;
  }

  .significant-wrapper {
    flex-direction: column;
    gap: 30px;
  }
}













/* --------------------------------------FOOTER----------------------------------- */

.footer-container {
  background-color: #f5f5f7;
  padding: 30px;
  font-size: 14px;
  color: #555;
  text-align: center;



}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;

}

.footer-links a {
  color: #0071e3;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #005bb5;
}